# MongoDB
MONGO_CONN_STR=mongodb://mongodb-xpressway:27017
MONGO_PORT=27018
MONGO_DB=payments

# Composer
COMPOSER_URL=http://localhost:3000
COMPOSER_HOST=0.0.0.0
COMPOSER_PORT=3000

# Backend
BACKEND_URL=http://localhost:8002
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8002

# Frontend
FRONTEND_URL=http://localhost:5173
FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=5173

# Frontend client env (Vite will replace these at build time)
VITE_BACKEND_URL=http://localhost:8002
VITE_COMPOSER_URL=http://localhost:3000